extends layout

block content
  each o,i in offer
    h1= o.OfferName
    p=o.Description
    p=o.Quantity
    p=o.Discount
    p=o.OriginalPrice
    P=o.CategoryID
    p=o.OfferID
    a.btn.btn-default(href='/businessuser/edit/'+o.OfferID)='Edit offer'
    form(method='POST', action='/businessuser/delete/'+o.OfferID)
      button='Delete'
  
